name: release

on:
  workflow_dispatch:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+*"]

jobs:
  # cratesio-publish:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repo
  #       uses: actions/checkout@v2

  #     - name: Setup Rust toolchain
  #       uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #         override: true
  #         toolchain: nightly

  #     - name: Publish to crates.io
  #       run: "cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}"

  build-release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl

          # Darwin
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin

          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            ext: .exe

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true
          target: ${{ matrix.target }}
          toolchain: nightly

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target ${{ matrix.target }}

      - name: Rename Artifacts
        shell: bash
        run: |
          ver=${GITHUB_REF#refs/tags/}
          ASSET_PATH=sysinfo-exporter-$ver-${{ matrix.target }}${{ matrix.ext }}
          mv target/${{ matrix.target }}/release/sysinfo-exporter $ASSET_PATH
          echo "ASSET_PATH=$ASSET_PATH" >> $GITHUB_ENV

      - name: Upload Artifcats
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.target }}
          path: ${{ env.ASSET_PATH }}
          retention-days: 1

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ env.ASSET_PATH }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-dpkg:
    runs-on: ubuntu-latest
    needs:
      - build-release
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: arm64
            target: aarch64-unknown-linux-musl
          - arch: amd64
            target: x86_64-unknown-linux-musl

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Retrieve backend binaries
        uses: actions/download-artifact@v4
        with:
          name: artifacts-${{ matrix.target }}
          path: dist/dpkg/usr/local/bin
      - name: Rename binary
        run: |
          mv dist/dpkg/usr/local/bin/sysinfo-exporter-* dist/dpkg/usr/local/bin/sysinfo-exporter
          chmod +x dist/dpkg/usr/local/bin/sysinfo-exporter
      - name: Build dpkg package
        run: bash ./scripts/build-debian-package.sh ${{ matrix.arch }}
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: sysinfo-exporter-*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
